html {
  background-color: #495562;
  font-family: Georgia,serif;
  background-image: url("../images/earth-horizon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

.btn {
  color: #fff;
  background-color: rgba(71, 82, 96, .3);
  border-style: solid;
  border-color: #97a49b;
  border-radius: 4px;
}

.btn:hover {
  background-color: #efefef;
  color: #495562;
  border-style: solid;
  border-color: #efefef;
  border-radius: 4px;
}
